
.buttons{
    display: flex;
    justify-content: flex-end;
    margin: 2rem;

}
svg{
  fill: #fbb105 !important;
}

.btnL{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid;
    margin-right: 1rem;
    padding: 0px 18px;
    cursor: pointer;
}
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    top: 41px;
    position: absolute;
  }
  .arrow1 {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    top: 41px;
    position: absolute;
  }
  .arrow2 {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;

  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .circle-container {
    border: solid #253FBC;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 93px;
}

.inner-svg {
    height: 60%;
}
.btnCard{
    background-color:#253FBC ;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 5px 21px;
    cursor: pointer;
}
.btn{
    background-color:#253FBC ;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 14px 25px;
    cursor: pointer;
}
.title p{
    padding: 5rem;
    word-spacing: 5px;
    font-size: 60px;
    margin: 0 auto; /* Centrado horizontal */
    text-align: center; /* Alineación del texto en el centro */
}
.colorT{
    color: #253FBC;
}

/* Estilos para la tabla */
.table{
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}
table {
    width: 65%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Estilos para las celdas de encabezado */
  th {
    
    background-color: transparent;
    text-align: center;
    padding: 15px;
  }
  
  /* Estilos para las celdas de datos */
  td {
    background-color: transparent;
    text-align: center;
    padding: 18px;
    border-bottom: 1px solid rgb(234, 234, 234);
    
  }
 
  /* Estilos para filas al pasar el cursor por encima */
  tr:hover {
    background-color: rgb(253, 253, 253);
  }
  .benefits{
    text-align: left;
  }
  .butttonLink{
    margin-top: 5rem;
    text-align: center;

  }

  .btnL:hover{
    background-color:#253FBC ;
    color:white ;
  }
  .btnCard:hover, .btn:hover{
    background-color: white;
    border-radius: 20px;
    border: solid 1px;
    color: #253FBC ;
  }
  
  @media (max-width: 768px) {
    .buttons{
        margin:3rem;
    }
    .arrow{
        top: 57px;
    }
    .arrow1{
        top: 57px;
    }
    .title p{
        font-size: 35px;
        padding: 0rem;
        word-spacing: 5px;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
    .table{
        overflow: auto; /* Habilita el desplazamiento vertical y horizontal */
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }
    .circle-container {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .inner-svg {
        height: 14px;
        fill: #ffe53c;
    }
    .circle-container{
        margin-left: 10px;
    }
}


